<p-card>
  <div class="p-grid p-justify-center margin-10">
    <span class="p-col-2 ui-float-label">
      <input id="search-by-input" [(ngModel)]="searchValue" size="30" pInputText>
      <label for="search-by-input">ID, Email, ClaimID, YTChannelID</label>
    </span>
    <p-selectButton class="margin-10" [options]="searchOptions" [(ngModel)]="searchKey"></p-selectButton>
    <span class="p-col-2 ">
      <button pButton type="button" label="Run Audit" (click)="loadAudit()"></button>
    </span>

  </div>
</p-card>
<app-user-review [users]="users"></app-user-review>
<p-progressSpinner *ngIf="loading"></p-progressSpinner>
