<p-card>
  <div class="p-grid p-justify-center">
    <span class="p-col-1">Verification:</span>
    <div class="p-col-1">
      <p-radioButton name="group1" value="all" label="Everything" [(ngModel)]="verificationMethod" inputId="opt1">
      </p-radioButton>
    </div>
    <div class="p-col-1">
      <p-radioButton name="group1" value="youtube" label="Youtuber" [(ngModel)]="verificationMethod" inputId="opt2">
      </p-radioButton>
    </div>
    <div class="p-col-1">
      <p-radioButton name="group1" value="stripe" label="CreditCard" [(ngModel)]="verificationMethod" inputId="opt3">
      </p-radioButton>
    </div>
    <div class="p-col-2">
      <p-radioButton name="group1" value="phone" label="Phone" [(ngModel)]="verificationMethod" inputId="opt4">
      </p-radioButton>
    </div>
    <div class="p-col-5">
      <p-checkbox class="p-col-1" label="Verified" binary="true" [(ngModel)]="showVerified" (onChange)="setUsers()">
      </p-checkbox>
      <p-checkbox class="p-col-2" label="Auto Approved" binary="true" [(ngModel)]="showAutoApprovals"></p-checkbox>
      <p-checkbox class="p-col-3" label="Triggered Only" binary="true" [(ngModel)]="showTriggeredOnly"></p-checkbox>
      <p-checkbox class="p-col-4" label="Odysee User" binary="true" [(ngModel)]="showOdyseeUsers"></p-checkbox>
      <p-checkbox class="p-col-4" label="Odysee Only" binary="true" [(ngModel)]="showOdyseeOnly"></p-checkbox>
    </div>
    <span class="ui-float-label margin-15">
      <input id="float-input-lookback" [(ngModel)]="lookback" type="number" size="30" pInputText>
      <label for="float-input-lookback">look back 2 days</label>
    </span>
    <span class="ui-float-label margin-15">
      <input id="float-input" [(ngModel)]="triggerFilter" type="text" size="30" pInputText>
      <label for="float-input">Filter Trigger To</label>
    </span>
    <span class="ui-float-label margin-15">
      <p-chips id="float-input-invited-by" placeholder="Invited By" allowDuplicate="false" separator=","
               [(ngModel)]="invitedByFilter"></p-chips>
    </span>
    <span class="margin-15">
      <button pButton type="button" icon="pi pi-list" (click)="op.toggle($event)"></button>
    </span>
    <button class="p-col-1 margin-15" pButton type="button" [disabled]="!verificationMethod" label="Apply Filter" (click)="loadPending()"></button>
  </div>
</p-card>

<app-user-review [users]="DisplayedUsers" [crud]="true"></app-user-review>
<p-progressSpinner *ngIf="loading"></p-progressSpinner>
<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
  <ng-template pTemplate>
    <p-toolbar styleClass="p-mb-4">
      <input type="text" [(ngModel)]="newIDs" placeholder="312321, 32321, 3213">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="createNew()"></button>
      <button pButton pRipple label="Save" icon="pi pi-save" class="p-button-danger"
              (click)="setInvitedByLists()"></button>
    </p-toolbar>
    <p-table [value]="invitedByLists" selectionMode="single" [(selection)]="selectedList"
             (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>UserIDs</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-list>
        <tr [pSelectableRow]="rowData">
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="list.Name">
              </ng-template>
              <ng-template pTemplate="output">
                {{list.Name}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            {{list.UserIDs}}
          </td>
          <td>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                    (click)="deleteList(list)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-overlayPanel>
