<div class="p-grid p-justify-start">
  <span class="p-col-2" style="font-weight: bold">User ID:</span>
  <span class="p-col-4">{{github.user_id}}</span>
  <span class="p-col-2" style="font-weight: bold">Name:</span>
  <span class="p-col-4">{{github.name}}</span>
  <span class="p-col-2" style="font-weight: bold">Username:</span>
  <span class="p-col-4"><a href="https://github.com/{{github.username}}" target="_blank">{{github.username}}</a></span>
  <span class="p-col-2" style="font-weight: bold">Github Created:</span>
  <span class="p-col-4">{{github.github_created_at}}</span>
  <span class="p-col-2" style="font-weight: bold">Followers:</span>
  <span class="p-col-4">{{github.followers_count}}</span>
  <span class="p-col-2" style="font-weight: bold">Following:</span>
  <span class="p-col-4">{{github.following_count}}</span>
  <span class="p-col-2" style="font-weight: bold">Owned Repos:</span>
  <span class="p-col-4">{{github.owned_repositories}}</span>
  <span class="p-col-2" style="font-weight: bold">Location:</span>
  <span class="p-col-4">{{github.location}}</span>
  <span class="p-col-2" style="font-weight: bold">Description:</span>
  <span class="p-col-4">{{github.description}}</span>
  <span class="p-col-2" style="font-weight: bold">Created:</span>
  <span class="p-col-4">{{github.created_at}}</span>
  <span class="p-col-2" style="font-weight: bold">Updated:</span>
  <span class="p-col-4">{{github.updated_at}}</span>
  <span class="p-col-2" style="font-weight: bold">Emails:</span>
  <span class="p-col-4">{{github.emails}}</span>
</div>
