<div class="p-grid p-justify-start">
  <span class="p-col-2" style="font-weight: bold">User ID:</span>
  <span class="p-col-4">{{discord.user_id}}</span>
  <span class="p-col-2" style="font-weight: bold">Username:</span>
  <span class="p-col-4">{{discord.username}}</span>
  <span class="p-col-2" style="font-weight: bold">Discord User ID:</span>
  <span class="p-col-4">{{discord.discord_user_id}}</span>
  <span class="p-col-2" style="font-weight: bold">Discord Created:</span>
  <span class="p-col-4">{{discord.discord_created_at}}</span>
  <span class="p-col-2" style="font-weight: bold">Email:</span>
  <span class="p-col-4">{{discord.email}}</span>
  <span class="p-col-2" style="font-weight: bold">Verified:</span>
  <span class="p-col-4">{{discord.verified}}</span>
  <span class="p-col-2" style="font-weight: bold">In Guild:</span>
  <span class="p-col-4">{{discord.in_guild}}</span>
  <span class="p-col-2" style="font-weight: bold">Ticket Exists:</span>
  <span class="p-col-4">{{discord.ticket_exists}}</span>
  <span class="p-col-2" style="font-weight: bold">Created:</span>
  <span class="p-col-4">{{discord.created_at}}</span>
  <span class="p-col-2" style="font-weight: bold">Updated:</span>
  <span class="p-col-4">{{discord.updated_at}}</span>
</div>
