<p-toolbar *ngIf="crud">
  <p-splitButton icon="fa fa-check" appendTo="body" [model]="approvedItems"
                 (onClick)="updateSelectedUsersRewardsStatus(true)" label="Approve" styleClass="ui-button-success"
                 [disabled]="!selectedUsers || !selectedUsers.length"></p-splitButton>
  <p-splitButton icon="fa fa-check" appendTo="body" [model]="rejectItems"
                 (onClick)="updateSelectedUsersRewardsStatus(false)" label="Dismiss" styleClass="ui-button-warning"
                 [disabled]="!selectedUsers || !selectedUsers.length"></p-splitButton>
  <p-splitButton icon="pi pi-sort" label="Sort" (onClick)="OrderByChannelsRatio()" [model]="sortItems"></p-splitButton>
  <p-button label="Hide YTs" styleClass="ui-button-warning" (onClick)="hideYouTubers()"></p-button>
</p-toolbar>
<p-table #dt [columns]="userColumns" [value]="users" [resizableColumns]="true" dataKey="UserID" [autoLayout]="true"
         [filterDelay]="0" [(selection)]="selectedUsers">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngIf="crud"></th>
      <th style="width: 3em"></th>
      <th [pSortableColumn]="col.field" *ngFor="let col of columns" [style.width]="col.width">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th class="action-column">Action</th>
    </tr>
    <tr *ngIf="crud">
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th></th>
      <th *ngFor="let col of columns" [style.width]="col.width">
        <input *ngIf="col.header=='Duplicates'" pInputText type="text" (input)="onDuplicatesChange($event)"
               placeholder="Less or equal"
               class="p-column-filter p-inputtext-sm">

        <input
          *ngIf="col.field=='RewardStatusChangeTrigger'
          ||col.field=='IsCountryMatch'
          ||col.field=='Countries'
          ||col.field=='ISPs'
          ||col.field=='PrimaryEmail'
          ||col.field=='Trigger'
          ||col.field=='Status'
          ||col.field=='YTChannelsAmount'"
          pInputText type="text"
          (input)="dt.filter($event.target.value, col.field, 'contains')"
          placeholder="filter" class="p-column-filter p-inputtext-sm">
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
    <tr title="{{rowData.LastNote}}">
      <td *ngIf="crud">
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <td>
        <a href="#" [pRowToggler]="rowData">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>
      <td *ngFor="let col of columns" [ngSwitch]="true" [ngStyle]="rowData.getCSSColor(col.field)"
          [title]="rowData.getTitle(col.field)">
        <span *ngIf="col.field == 'UserID'"> {{rowData[col.field]}} <em *ngIf="rowData.YoutubeChannels.length"
                                                                        class="pi pi-video"></em></span>
        <span *ngIf="col.header == 'YTAction'">
          <p-button label="Good" styleClass="ui-button-success" (onClick)="approveChannel(rowData.YoutubeChannelID)"></p-button>
          <p-button label="Bad" styleClass="ui-button-warning" (onClick)="rejectChannel(rowData.YoutubeChannelID)"></p-button>
        </span>
        <span *ngIf="col.field !== 'UserID'&&col.header !== 'YTAction'&&col.field !== 'YoutubeChannelName'">{{rowData[col.field]}}</span>
        <a
          *ngIf="col.field === 'YoutubeChannelName'"
          href="https://youtube.com/channel/{{ rowData.YoutubeChannelID }}/videos"
          target="_blank"
        >{{ rowData[col.field]}}</a>
      </td>
      <td>
        <div class="action-buttons">
          <p-splitButton icon="fa fa-check" appendTo="body" [model]="approvedItems" (onClick)="approve(rowData)"
                         (onDropdownClick)="setSplitButtonUser(rowData)" label="Approve"
                         styleClass="ui-button-success"></p-splitButton>
          <p-splitButton icon="fa fa-check" appendTo="body" [model]="rejectItems" (onClick)="dismiss(rowData)"
                         (onDropdownClick)="setSplitButtonUser(rowData)" label="Dismiss"
                         styleClass="ui-button-warning"></p-splitButton>
          <button type="button" (click)="confirmDeletion(rowData)" pButton icon="pi pi-times" label="Delete"></button>

        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
    <tr>
      <td [attr.colspan]="columns.length + 4">
        <app-user-detail [DisplayedUser]="rowData" (userReject)="reject($event)"></app-user-detail>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-dialog header="Enter Why" [(visible)]="display">
  <textarea [(ngModel)]="message" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
  <p-footer>
    <button type="button" pButton icon="pi pi-times" (click)="done()" label="Done" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
