.action-buttons {
    display: flex;
}

.action-buttons> {
    display: block;
}

.action-column {
    width: 360px;
}
.p-inputtext-sm {
  width: 80px;
}
.queued {
  background-color: lightgoldenrodyellow;
}
.abandoned {
  background-color: lightcoral;
}
.synced {
  background-color: lightgreen;
}
