<div class="p-grid p-justify-start">
  <span class="p-col-2" style="font-weight: bold">Name:</span>
  <span class="p-col-4">{{user.name}}</span>
  <span class="p-col-2" style="font-weight: bold">Last Name:</span>
  <span class="p-col-4">{{user.last_name}}</span>
  <span class="p-col-2" style="font-weight: bold">Email:</span>
  <span class="p-col-4">{{user.email}}</span>
  <span class="p-col-2" style="font-weight: bold">IP:</span>
  <span class="p-col-4">{{user.ip}}</span>
  <span class="p-col-2" style="font-weight: bold">Score:</span>
  <span class="p-col-4">{{user.score}}</span>
  <span class="p-col-2" style="font-weight: bold">Motivation:</span>
  <span class="p-col-4">{{user.motivation}}</span>
  <span class="p-col-2" style="font-weight: bold">Feedback:</span>
  <span class="p-col-4">{{user.feedback}}</span>
  <span class="p-col-2" style="font-weight: bold">Uses VPN:</span>
  <span class="p-col-4">{{user.uses_vpn}}</span>
  <span class="p-col-2" style="font-weight: bold">1st Account:</span>
  <span class="p-col-4">{{user.is_first_account}}</span>
  <span class="p-col-2" style="font-weight: bold">1st Application:</span>
  <span class="p-col-4">{{user.is_first_application}}</span>
  <span class="p-col-2" style="font-weight: bold">Fingerprint:</span>
  <span class="p-col-4">{{user.fingerprint}}</span>
  <span class="p-col-2" style="font-weight: bold">Ticket ID:</span>
  <span class="p-col-4">{{user.ticket_id}}</span>
  <span class="p-col-2" style="font-weight: bold">Browser:</span>
  <span class="p-col-4">{{user.browser}}</span>
  <span class="p-col-2" style="font-weight: bold">OS:</span>
  <span class="p-col-4">{{user.os}}</span>
  <span class="p-col-2" style="font-weight: bold">Device:</span>
  <span class="p-col-4">{{user.device}}</span>
  <span class="p-col-2" style="font-weight: bold">Status:</span>
  <span class="p-col-4">{{user.status}}</span>
  <span class="p-col-2" style="font-weight: bold">Created:</span>
  <span class="p-col-4">{{user.created_at}}</span>
  <span class="p-col-2" style="font-weight: bold">Updated:</span>
  <span class="p-col-4">{{user.updated_at}}</span>
</div>
