<div class="p-grid p-justify-start">
  <span class="p-col-2" style="font-weight: bold">User ID:</span>
  <span class="p-col-4">{{linkedin.user_id}}</span>
  <span class="p-col-2" style="font-weight: bold">Name:</span>
  <span class="p-col-4">{{linkedin.name}}</span>
  <span class="p-col-2" style="font-weight: bold">Last Name:</span>
  <span class="p-col-4">{{linkedin.last_name}}</span>
  <span class="p-col-2" style="font-weight: bold">Email:</span>
  <span class="p-col-4">{{linkedin.email}}</span>
  <span class="p-col-2" style="font-weight: bold">Created:</span>
  <span class="p-col-4">{{linkedin.created_at}}</span>
  <span class="p-col-2" style="font-weight: bold">Updated:</span>
  <span class="p-col-4">{{linkedin.updated_at}}</span>
</div>
