<p-accordion>
  <p-accordionTab header="Emails">
    <p-table [columns]="emailColumns" [value]="DisplayedUser.Emails">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Phones">
    <p-table [columns]="phoneColumns" [value]="DisplayedUser.Phones">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Youtube Channels">
    <p-table [columns]="youtubeColumns" [value]="DisplayedUser.YoutubeChannels">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index">
            <a *ngIf="col.field === 'ChannelName'" href="https://youtube.com/channel/{{rowData.ChannelID}}/videos">{{rowData[col.field]}}</a>
            <input  *ngIf="col.field === 'ShouldSync'" [(ngModel)]="rowData.ShouldSync" (change)="changeEvent(rowData)" type="checkbox"/>
            <input  *ngIf="col.field === 'IsRedeemable'" [(ngModel)]="rowData.IsRedeemable" (change)="changeEvent(rowData)" type="checkbox"/>
            <input  *ngIf="col.field === 'Reviewed'" [(ngModel)]="rowData.Reviewed" (change)="changeEvent(rowData)" type="checkbox"/>
            <button *ngIf="col.field === 'Action'" type="button" pButton icon="fa fa-check" (click)="rejectChannel(rowData)" label="Apply" class="ui-button-warning" [disabled]="rowData.ApplyDisabled"></button>
            <input  *ngIf="col.field === 'Action'" [(ngModel)]="rowData.ShouldEmail" type="checkbox" disabled="disabled"/><span *ngIf="col.field === 'Action'" > Email too</span>
            <span *ngIf="col.field !== 'ChannelName' && col.field !== 'ShouldSync'&& col.field !== 'IsRedeemable' && col.field !== 'Reviewed' && col.field !== 'Action'">{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Credit Cards">
    <p-table [columns]="creditColumns" [value]="DisplayedUser.CreditCards">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [ngSwitch]="true">
            <span *ngSwitchCase="col.field === 'CreatedAt' || col.field === 'UpdatedAt'">{{ rowData[col.field] | date:'short' }} </span>
            <span *ngSwitchDefault>{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Accesses">
    <p-table [columns]="accessColumns" [value]="DisplayedUser.Accesses">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [ngSwitch]="true">
            <span *ngSwitchCase="col.field === 'AccessTime'">{{ rowData[col.field] | date:'short' }} </span>
            <span *ngSwitchDefault>{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Rewards">
    <p-table [columns]="redeemedRewardColumns" [value]="DisplayedUser.RedeemedRewards">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns;" [ngSwitch]="true">
            <span *ngSwitchCase="col.field === 'TransactionID'"><a href="https://explorer.lbry.com/tx/{{rowData[col.field]}}" target="_blank">{{rowData[col.field]}}</a></span>
            <span *ngSwitchCase="col.field === 'CreatedAt'">{{ rowData[col.field] | date:'short' }} </span>
            <span *ngSwitchDefault>{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Duplicate Accounts">
    <p-table [columns]="dupColumns" [value]="DisplayedUser.DuplicateAccounts">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 4em"></th>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th>
            Reject
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td>
            <a target="_blank" [routerLink]="['/admin/audit',rowData.UserID]"><i class="pi pi-info-circle"></i></a>
          </td>
          <td *ngFor="let col of columns" [ngSwitch]="true">
            <span *ngSwitchCase="col.field === 'CreatedAt'">{{ rowData[col.field] | date:'short' }} </span>
            <span *ngSwitchDefault>{{rowData[col.field]}}</span>
          </td>
          <td>
            <button type="button" pButton icon="fa fa-check" (click)="reject(rowData)" label="Reject" class="ui-button-warning"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Installs">
    <p-table [columns]="installColumns" [value]="DisplayedUser.Installs">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [ngSwitch]="true">
            <span *ngSwitchCase="col.field === 'CreatedAt' || col.field === 'UpdatedAt'">{{ rowData[col.field] | date:'short' }} </span>
            <span *ngSwitchDefault>{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Notes">
    <p-table [columns]="noteColumns" [value]="DisplayedUser.Notes">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [ngSwitch]="true" [ngStyle]="rowData.getCSSColor(col.field)">
            <span *ngSwitchCase="col.field === 'CreatedAt' || col.field === 'UpdatedAt'">{{ rowData[col.field] | date:'short' }} </span>
            <span *ngSwitchDefault>{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Inviter">
    <p-table [columns]="inviterColumns" [value]="DisplayedUser.Inviter">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 4em"></th>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td>
            <a target="_blank" [routerLink]="['/admin/audit',rowData.UserID]"><i class="pi pi-info-circle"></i></a>
          </td>
          <td *ngFor="let col of columns">
            <span>{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Invited Users">
    <p-table [columns]="invitedUsersColumns" [value]="DisplayedUser.InvitedUsers">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 4em"></th>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th>Action Buttons</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr *ngIf="rowData.PrimaryEmail !== ''">
          <td>
            <a target="_blank" [routerLink]="['/admin/audit',rowData.UserID]"><i class="pi pi-info-circle"></i></a>
          </td>
          <td *ngFor="let col of columns">
            <span>{{rowData[col.field]}}</span>
          </td>
          <td>
            <button pButton type="button" label="Disable Rewards" class="ui-button-warning" (click)="reject(rowData)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Owned Channels">
    <p-table [columns]="ownedChannelsColumns" [value]="DisplayedUser.OwnedChannels">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [ngSwitch]="true">
            <span *ngSwitchCase="col.field === 'URI'"><a href="https://lbry.tv/{{rowData[col.field]}}" target="_blank">{{rowData[col.field]}}</a></span>
            <span *ngSwitchDefault>{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
</p-accordion>
