<p-accordion>
  <p-accordionTab header="Emails">
    <p-table [columns]="emailColumns" [value]="DisplayedUser.Emails">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Phones">
    <p-table [columns]="phoneColumns" [value]="DisplayedUser.Phones">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Youtube Channels">
    <p-table [columns]="youtubeColumns" [value]="DisplayedUser.YoutubeChannels">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index">
            <a *ngIf="i === 0" href="https://youtube.com/channel/{{rowData.ChannelID}}/videos">{{rowData[col.field]}}</a>
            <span *ngIf="i !== 0">{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Credit Cards">
    <p-table [columns]="creditColumns" [value]="DisplayedUser.CreditCards">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [ngSwitch]="true">
            <span *ngSwitchCase="col.field === 'CreatedAt' || col.field === 'UpdatedAt'">{{ rowData[col.field] | date:'short' }} </span>
            <span *ngSwitchDefault>{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Accesses">
    <p-table [columns]="accessColumns" [value]="DisplayedUser.Accesses">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [ngSwitch]="true">
            <span *ngSwitchCase="col.field === 'AccessTime'">{{ rowData[col.field] | date:'short' }} </span>
            <span *ngSwitchDefault>{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Rewards">
    <p-table [columns]="redeemedRewardColumns" [value]="DisplayedUser.RedeemedRewards">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" [ngSwitch]="true">
            <span *ngSwitchCase="col.field === 'TransactionID'"><a href="https://explorer.lbry.com/tx/{{rowData[col.field]}}">{{rowData[col.field]}}</a></span>
            <span *ngSwitchCase="col.field === 'CreatedAt'">{{ rowData[col.field] | date:'short' }} </span>
            <span *ngSwitchDefault>{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Duplicate Accounts">
    <p-table [columns]="dupColumns" [value]="DisplayedUser.DuplicateAccounts">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 4em"></th>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th>
            Reject
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td>
            <a target="_blank" [routerLink]="['/admin/audit',rowData.UserID]"><i class="pi pi-info-circle"></i></a>
          </td>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
          <td>
            <button type="button" pButton icon="fa fa-check" (click)="reject(rowData)" label="Reject" class="ui-button-warning"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Installs">
    <p-table [columns]="installColumns" [value]="DisplayedUser.Installs">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [ngSwitch]="true">
            <span *ngSwitchCase="col.field === 'CreatedAt' || col.field === 'UpdatedAt'">{{ rowData[col.field] | date:'short' }} </span>
            <span *ngSwitchDefault>{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Notes">
    <p-table [columns]="noteColumns" [value]="DisplayedUser.Notes">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [ngSwitch]="true">
            <span *ngSwitchCase="col.field === 'CreatedAt' || col.field === 'UpdatedAt'">{{ rowData[col.field] | date:'short' }} </span>
            <span *ngSwitchDefault>{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
</p-accordion>
