td:nth-of-type(3n) {
    background-color: lightyellow !important;
    color:black !important
}
.good-email > td:nth-of-type(3n) {
    background-color: lightgreen !important;
}

.already-approved > td:nth-of-type(3n) {
    background-color: lightcoral !important;
}
