<p-toast></p-toast>
<div *ngIf="isAuthenticated">
  <p-menubar [model]="items">
    <div>
      <button pButton label="Logout" icon="fa fa-sign-out" style="margin-left:.25em" (click)="logout()"></button>
    </div>
  </p-menubar>
  <p-messages></p-messages>
  <router-outlet></router-outlet>
</div>
<div style="margin:200px" *ngIf="!isAuthenticated">
  <div class="p-grid p-justify-center p-align-center" style="margin:50px">
    <div>
      <span class="p-col-12 ui-widget" style="font-size:200%">Commander Login</span>
    </div>
  </div>
  <div class="p-grid p-justify-center p-align-center" >
    <input class="p-col-4" type="password" pInputText pPassword placeholder="Token" style="margin:10px" [(ngModel)]="token">
    <button class="p-col-2" pButton label="Sign In" icon="fa ga-sign-out" style="margin:10px" (click)="login()"></button>
  </div >
</div>

