<p-card>
  <div class="p-grid p-justify-center">
    <div>
      <p-triStateCheckbox class="p-col-4" [(ngModel)]="includeApproved"
                          label="Include Approved"></p-triStateCheckbox>
    </div>
    <div>
      <p-triStateCheckbox class="p-col-4" [(ngModel)]="includeSyncable" label="Include Syncable"></p-triStateCheckbox>
    </div>
    <div>
      <p-triStateCheckbox class="p-col-4" [(ngModel)]="includeReviewed" label="Include Reviewed"></p-triStateCheckbox>
    </div>
    <p-selectButton class="margin-10" [options]="searchOptions" [(ngModel)]="statusToSearch"></p-selectButton>
    <p-inputNumber [(ngModel)]="itemsToReturn" placeholder="N items to return"></p-inputNumber>
    <button class="p-col-1 margin-15" pButton type="button" label="Apply Filter" (click)="loadChannels()"></button>
  </div>
</p-card>


<p-toolbar>
  <p-button label="Approve selected" styleClass="ui-button-success" [disabled]="!selectedChannels || !selectedChannels.length" (onClick)="updateChannelStatus(true)"></p-button>
  <p-button label="Reject selected" styleClass="ui-button-warning" [disabled]="!selectedChannels || !selectedChannels.length" (onClick)="updateChannelStatus(false)"></p-button>
</p-toolbar>


<p-table
  #dt
  [columns]="youtubeColumns"
  [value]="ytChannels"
  [autoLayout]="true"
  [(selection)]="selectedChannels"
  [rowHover]="true"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th></th>
      <th [pSortableColumn]="col.field" *ngFor="let col of columns">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th>Action</th>
    </tr>
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <input pInputText type="text" (input)="dt.filter($event.target.value, 'Countries', 'contains')"
               placeholder="Search by Country" class="p-column-filter">
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td>
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <td *ngFor="let col of columns; let i = index">
        <a target="_blank"
           *ngIf="col.field === 'UserID'"
           [routerLink]="['/admin/audit', rowData.UserID]"
        ><i class="pi pi-info-circle"></i
        ></a>
        <p-inputSwitch
          *ngIf="col.field === 'UserRewardEnabled'"
          (onChange)="ApproveRewards(rowData, $event)"
          [(ngModel)]="rowData[col.field]">
        </p-inputSwitch>
        <a
          *ngIf="col.field === 'YoutubeChannelName'"
          href="https://youtube.com/channel/{{ rowData.YoutubeChannelID }}/videos"
          target="_blank"
        >{{ rowData[col.field]}}</a>
        <p-inputSwitch
          *ngIf="
                col.field === 'ShouldSync' ||
                col.field === 'Reviewed'
              "
          (onChange)="changeFieldStatus(rowData, col.api_field, $event)"
          [(ngModel)]="rowData[col.field]"
        >
        </p-inputSwitch>
        <span
          *ngIf="
                col.field !== 'YoutubeChannelName' &&
                col.field !== 'ShouldSync' &&
                col.field !== 'UserRewardEnabled' &&
                col.field !== 'Reviewed'
              "
        >{{ rowData[col.field] }}</span>
      </td>
      <td>
        <p-button label="Good" styleClass="ui-button-success" (onClick)="approveChannel(rowData)"></p-button>
        <p-button label="Bad" styleClass="ui-button-warning" (onClick)="rejectChannel(rowData)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-progressSpinner *ngIf="loading"></p-progressSpinner>
