<div class="p-grid p-justify-start">
  <span class="p-col-2" style="font-weight: bold">User ID:</span>
  <span class="p-col-4">{{facebook.user_id}}</span>
  <span class="p-col-2" style="font-weight: bold">Name:</span>
  <span class="p-col-4">{{facebook.name}}</span>
  <span class="p-col-2" style="font-weight: bold">Last Name:</span>
  <span class="p-col-4">{{facebook.last_name}}</span>
  <span class="p-col-2" style="font-weight: bold">Email:</span>
  <span class="p-col-4">{{facebook.email}}</span>
  <span class="p-col-2" style="font-weight: bold">Created:</span>
  <span class="p-col-4">{{facebook.created_at}}</span>
  <span class="p-col-2" style="font-weight: bold">Updated:</span>
  <span class="p-col-4">{{facebook.updated_at}}</span>
</div>
