<div class="p-grid p-justify-start">
    <span class="p-col-2" style="font-weight: bold">UserId:</span>
    <span class="p-col-4"><a href="/admin/audit/{{lbryInc.user_id}}" target="_blank">{{lbryInc.user_id}}</a></span>
    <span class="p-col-2" style="font-weight: bold">Rewards enabled:</span>
    <span class="p-col-4">{{lbryInc.rewards_enabled}}</span>
    <span class="p-col-2" style="font-weight: bold">Manually blocked:</span>
    <span class="p-col-4">{{lbryInc.manually_blocked}}</span>
  </div>
  