<div class="p-grid p-justify-start">
  <span class="p-col-2" style="font-weight: bold">User ID:</span>
  <span class="p-col-4">{{twitter.user_id}}</span>
  <span class="p-col-2" style="font-weight: bold">Name:</span>
  <span class="p-col-4">{{twitter.name}}</span>
  <span class="p-col-2" style="font-weight: bold">Screen Name:</span>
  <span class="p-col-4"><a href="https://twitter.com/{{twitter.screen_name}}" target="_blank">{{twitter.screen_name}}</a></span>
  <span class="p-col-2" style="font-weight: bold">Email:</span>
  <span class="p-col-4">{{twitter.email}}</span>
  <span class="p-col-2" style="font-weight: bold">Twitter Created:</span>
  <span class="p-col-4">{{twitter.twitter_created_at}}</span>
  <span class="p-col-2" style="font-weight: bold">Followers:</span>
  <span class="p-col-4">{{twitter.followers_count}}</span>
  <span class="p-col-2" style="font-weight: bold">Friends:</span>
  <span class="p-col-4">{{twitter.friends_count}}</span>
  <span class="p-col-2" style="font-weight: bold">Statuses:</span>
  <span class="p-col-4">{{twitter.statuses_count}}</span>
  <span class="p-col-2" style="font-weight: bold">Location:</span>
  <span class="p-col-4">{{twitter.location}}</span>
  <span class="p-col-2" style="font-weight: bold">Profile Image:</span>
  <span class="p-col-4"><img [src]="twitter.profile_image_url"></span>
  <span class="p-col-2" style="font-weight: bold">Description:</span>
  <span class="p-col-4">{{twitter.description}}</span>
  <span class="p-col-2" style="font-weight: bold">Created:</span>
  <span class="p-col-4">{{twitter.created_at}}</span>
  <span class="p-col-2" style="font-weight: bold">Updated:</span>
  <span class="p-col-4">{{twitter.updated_at}}</span>
</div>
